/*
 * Copyright (c) 2026
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        race_layer {
            bindings = <
                &kp F13 &kp F14 &kp F15 &kp F16 &kp F17 &kp F18 &kp F19 &kp F20
            >;

            sensor-bindings = <
                &inc_dec_kp F21 F22
                &inc_dec_kp F23 F24
                &inc_dec_kp F1 F2
            >;
        };
    };
};
